.container
    .jumbotron
        h1 gHaloChat
        p Welcome to the gHaloChat page, a simple chat page with all gHaloChat users.
        p
         | Built with AngularJS, Node, mongodb and hosted on Heroku.
    .row
        .col-md-6
            div(ng-include="'/partials/login'")
        //-.col-md-6
            //-div(ng-include="/partials/listofusers'")