<div ng-controller="mymailCtrl" class="container"><style>button { width: 100%; }
footer { visibility: hidden;}
textarea#mail {
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    min-height: 150px;
}</style><div ng-repeat="t in threads" class="col-lg-6"><p><span>  Messages from {{t.username}}</span><span class="input-group-addon"></span><textarea id="mail" readonly="readonly" class="col-md-12 col-lg-12">{{t.messages}}</textarea></p><textarea placeholder="Type to reply" ng-model="msgBackObj[t.sid]" class="col-md-12 col-lg-12"></textarea><button ng-click="sendMessageBack(t.sid, $index)" class="btn btn-primary"><span class="glyphicon glyphicon-send">   Send</span></button></div><div class="navbar navbar-default navbar-fixed-bottom"><button ng-click="getMoreConversations()" class="btn btn-lg">Load more conversations</button></div></div>