script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
//-application
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/Auth.js")
script(type="text/javascript", src="/app/User.js")
//- controllers
script(type="text/javascript", src="/app/ngControllers/loginCtrl.js")
script(type="text/javascript", src="/app/ngControllers/allusrCtrl.js")
script(type="text/javascript", src="/app/ngControllers/mymailCtrl.js")
script(type="text/javascript", src="/app/ngControllers/registerCtrl.js")

script(type="text/javascript", src="/app/checklist-model.js")
//-common
script(type="text/javascript", src="/app/common/Identity.js")
script(type="text/javascript", src="/app/common/notifier.js")
//-resources
script(type="text/javascript", src="/app/ngResources/listOfUsersRes.js")
script(type="text/javascript", src="/app/ngResources/postmessageres.js")
script(type="text/javascript", src="/app/ngResources/getmymsgsres.js")
