body
  padding-top 61px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom  -20px
  h6
     color #ccc
     font-size 9

footer
  padding-left  15px
  padding-right 15px
  p
    border-top  1px solid #c1e2b3

.toast-top-right
  top 70px

.toast-success
  background-color #3c3c3c